:root{
  scroll-behavior: auto;  
}

.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    /* 숨기기 : none, 보이기 : block */
    display: none;
}

.list-group{
    height: 0px;
    visibility: hidden;
}

.show{
    height: auto;
    visibility: visible;
}


.black-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 6;
    padding: 30px;
    visibility: hidden;
    opacity: 0; /* 투명도 */
    transition: all 1s; /* 1s에 걸려 천천히 변화 */
}

.white-bg{
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.show-modal{
    visibility: visible;
    opacity: 1;
}

.main-bg{
    width: 100%;
    height: 200px;
    background-color: rgb(218, 218, 218);
    padding: 10px;
    position: relative;
    margin-top:56px;
}

.main-bg-span{
    position: absolute;
    top: 30%;
}

.slide-container{
    width: 300vw;
    transition: all 1s;
}

.slide-box{
    width: 100vw;
    float: left;
}

.slide-box img{
    width: 100%;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar-brand{
    font-size: 30px;
    transition: all 1s;
}






.gray{
    background-color: lightgray;
    height: 2000px;
    margin-top: 500px;
}

.image{
    float: right;
    width: 400px;
    position: sticky; /* 고정 (fixed : 걍 고정, sticky : 조건부 고정)*/
    top: 100px; /* top 100px부터 고정 */
}

.text{
    float: left;
    width: 300px;
}